*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

.App{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  display: none;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one{
  background-size: cover;
  display: grid;
  background-color: #03072e;
}

.two{
  background: #03072e;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-box{
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

.about-box{
  padding-top: 5%;
  padding-left: 5%;
}

.about-box ul{
  margin-left: 10%;
}

.pink {
  color: #ff5533;
}

.yellow {
  color: #ffde3b;
}

.gold{
  color: #9c8725;
}

/* If the screen size is 601px wide or more, set the font-size */
@media screen and (min-width: 601px) {
  .large-text {
    font-size: 70px;
  }
}

/* If the screen size is 600px wide or less, set the font-size */
@media screen and (max-width: 600px) {
  .large-text {
    font-size: 40px;
  }
}

/* If the screen size is 601px wide or more, set the font-size */
@media screen and (min-width: 601px) {
  .small-text {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size */
@media screen and (max-width: 600px) {
  .small-text {
    font-size: 20px;
  }
}



